.login-page{
    width: 360px;
  padding: 11% 0 0;
  margin: auto;
}
.Header{
    display: flex;
}

.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
    text-align: center;
}
.login-page form input,
.login-page form button{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login-page form .row{
    display: block;
    justify-content: space-between;
    align-items: center;
}

.register{
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin-left:160px;
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.loginbutton {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin-left:146px;
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.registerbutton{
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin-left:114px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-page form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    
}
.login-page form a{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    
    margin-bottom: 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}